* {
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;

  background-color: #ffffff;
  color: #000000;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 7px;
  max-width: 300px;
  margin-bottom: 10px;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(69, 3, 3);
}

.search-form input {
  padding: 5px;
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 7px;
  width: 340px;
  margin-right: 15px;
}

.search-form button,
.load-more {
  display: block;
  padding: 5px 15px;
  font-size: 16px;
  background-color: rgb(46, 6, 106);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more {
  margin: 0 auto;
  margin-top: 10px;
}

.search-form button:hover,
.load-more:hover {
  background-color: rgb(10, 105, 164);
}

button:disabled {
  background-color: #c1c1c1;
  cursor: not-allowed;
}

button.hidden {
  display: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.photo-card {
  width: 300px;
  border: 1px solid black;
  padding: 10px;
}

.photo-card img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.photo-card .info {
  font-size: 14px;
}

.photo-card .info-item {
  margin-top: 2px;
  margin-bottom: 2px;
}

.photo-card .info-item b {
  font-weight: bold;
}
